html {
    scroll-behavior: smooth;
}

h2,
h2,
h3,
h4,
.nav.item,
#transition,
footer {
    text-align: center;
}

/* ***** HEADER ***** */

header {
    background: url(media/main.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
}

h1 {
    font-size: 5em;
    padding: 20px 0 0 20%;
    text-shadow: -3px 3px 2px #BCF5A9;
    animation: grow ease 5s
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

/* ***** HEADER ***** */

/* ***** Left Part ***** */

#leftpart {
    background-color: #BCF5A9;
    border-radius: 20px 20px 0 0;
}

.elements {
    padding: 70px 0;
}

.elements img {
    border-radius: 50%;
    width: 200px;
}

.elements p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
}

.elements .button {
    text-align: right;
    margin: 15px 4% 0 0;
}

/* ***** Left Part ***** */

/* ***** Right Part ***** */

#rightpart{
    background-color: #9B6833;
    border-radius: 20px;
    padding: 20px;
}

.tips{
    height: 200px;
    width: 200px;
    margin: 20px auto;
}


.tips h4{
    position: relative;
    color: green;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 0 #BCF5A9, 2px -2px 0 #BCF5A9, -2px 2px 0 #BCF5A9, -2px -2px 0 #BCF5A9, 2px 0px 0 #BCF5A9, 0px 2px 0 #BCF5A9, -2px 0px 0 #BCF5A9, 0px -2px 0 #BCF5A9;
}

.tips:hover{
    transform: scale(1.08);
    cursor: pointer;
    opacity: 0.8;
    transition: ease-out 0.2s;
}

/* ***** Right Part ***** */

#transition{
    padding: 50px 0;
}

#transition img{
        animation: slide-right ease-out 5s infinite alternate forwards;
}

@keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    
    20%{
        transform: translateX(100px);
    }

    40%{
        transform: translateY(-40px);
    }

    60%{
        transform: translateY(40px);
    }

    80%{
        transform: translateX(-100px);
    }

    100%{
        transform: translateX(0);
    }
}

/* ***** Right Part ***** */

/* ***** Newsletter ***** */

#newsletter{
    background: url(media/newsletter.jpeg);
    background-size: cover;
    height: 370px;
    width: 70%;
    min-width: 450px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 70px;
}

#newsletter h4{
    margin-top: 15px;
    padding: 100px 0 20px 0;
    font-size: 2em;
    text-shadow: 2px 2px 0 #BCF5A9, 2px -2px 0 #BCF5A9, -2px 2px 0 #BCF5A9, -2px -2px 0 #BCF5A9, 2px 0px 0 #BCF5A9, 0px 2px 0 #BCF5A9, -2px 0px 0 #BCF5A9, 0px -2px 0 #BCF5A9;
}

#newsletter .input-group{
    width: 40%;
    min-width: 350px;
    margin: 0 auto;
}

footer{
    background-color: #BCF5A9;
    padding: 15px 0 4px 0;
}

/* ***** Newsletter ***** */

