html {
    scroll-behavior: smooth;
}

h2,
h2,
h3,
h4,
.nav.item,
#transition,
footer {
    text-align: center;
}

/* ***** HEADER ***** */

header {
    background: url(media/main.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
}

h1 {
    font-size: 5em;
    padding: 20px 0 0 20%;
    text-shadow: -3px 3px 2px #BCF5A9;
    animation: grow ease 5s
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}